* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-user-select:none;
  -moz-user-select:   -moz-none;
  -ms-user-select:    none;
  user-select:        none;
}
body /deep/ .round {
  width:50px;
  height:50px;
  background:#1abc9c;
  border-radius: 50%;
  text-align: center;
  display: table-cell; 
  vertical-align: middle; 
  color: white;
  font-size: 19px;
  line-height: 50px;
}
input,
textarea {
  -moz-user-select: text;
}
body /deep/ core-toolbar.header-toolbar,
body /deep/ detail-screen::shadow #toolbar,
body /deep/ sync-screen::shadow #toolbar,
body /deep/ force-paper-input::shadow .focused-underline,
body /deep/ force-paper-input::shadow .cursor {
    background-color: #f40009;
}
body /deep/ force-paper-input[focused]::shadow .floated-label {
    color: #f40009;
}