:host /deep/ iron-icon {
    color: #fff;
}

paper-menu-button /deep/ div#overlay {
    background: white
}

:host /deep/ force-paper-input {
    color: #ccc;
    width: 100%;
    margin-right: 20px;
}

:host /deep/ h1.sf-layout-section-heading {
  line-height: 40px;
  color: #484848;
  /*color: white;
  background-color: #f40009;*/
}

:host /deep/ .ui-responsive {
  overflow: hidden;
}

:host /deep/ .ui-responsive .ui-block:first {
  clear: left;
}

:host /deep/ .ui-block {
  width: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* preset breakpoint to switch to stacked grid styles below 35em (560px) */

@media all and (max-width: 35em) {
  :host /deep/ .ui-responsive .ui-block {
    width: 100%;
    float: none;
  }
}

:host /deep/ .sf-layout-item,
:host /deep/ .input-block {
  position: relative;
  padding-left: 0.875em;
  padding-right: 0.875em;
  margin-bottom: 0.875em;
}

:host /deep/ .sf-layout-item-label,
:host /deep/ .input-label {
  /*font-family: "ProximaNovaSoft-Regular";*/
  margin-bottom: 0.25em;
}

:host /deep/ .sf-layout-item-label,
:host /deep/ label {
  color: #969899;
  font-size: 0.875rem;
}

:host /deep/ .sf-layout-section-heading {
  color: rgb(156, 161, 165);
  font-size: 0.9em;
  margin: 15px 0px;
  text-transform: uppercase;
  padding: 0 15px;
  background-color: rgb(228, 231, 231);
  line-height: 20px;
  font-weight: bold;
}

:host /deep/ div.sf-layout-item-label {
    font-size: 0.75em;
    background: transparent;
    white-space: nowrap;
    margin-bottom: 0.5em;
    color: rgb(204,204,204);
}

:host /deep/ .sf-layout-item-value>span.boolean {
  padding: 20px 0;
}

:host /deep/ .sf-layout-item-value paper-toggle-button {
  padding-right: 10px;
}

:host /deep/ .sf-layout-item-value select {
  display: -webkit-box;
  -webkit-box-flex: 1.0;
  margin: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 1, 0.04);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 1, 0.04);
  box-shadow: inset 0 1px 2px rgba(0, 0, 1, 0.04);
  border: 1px solid #ced0d2;
  border-radius: 5px;
  padding: .5em .7em .5em;
  margin-bottom: 15px;
  width: 100%;
  /*font-family: "ProximaNovaSoft-Regular";*/
  color: #525354;
  font-size: 1rem;
  background-color: #e9e9eb; }
  
:host /deep/ .sf-layout-item-value select {
  background: white -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ededed), color-stop(100%, #f7f7f7));
  background: white -webkit-linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  background: white -moz-linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  background: white -o-linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  background: white linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), inset 0 0 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), inset 0 0 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), inset 0 0 0 rgba(255, 255, 255, 0.75);
  font-size: 15px;
  -webkit-appearance: none}

:host /deep/ select:active {
    border: 1px solid #dbdbdb;
    background: #e9e9e9;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

:host /deep/ .paper-toolbar {
  background-color: #f40009;
}
